body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.78;
}

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/customfont.woff2') format('woff2'),
         url('fonts/customfont.woff') format('woff');
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #333;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 14px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: #000000;
}

.white-box {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    text-align: left;
    margin: 60px 50px 0;

    @media (max-width: 768px) {
        margin: 20px 50px 0;
        padding: 10px;
        text-align: center;
    }

    @media (orientation: portrait) {
        margin: 20px 50px 0;
    }
}

@media (max-width: 768px) {
    .white-box {
        margin: 20px;
        padding: 10px;
        text-align: center;
    }
}

.paragraph {
    margin-bottom: 20px;
}

.paragraph p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
